.headerblocks {
    width: 90%;
    margin: 0px auto;
    display: flex;
}

.headerblocks img {
    margin-left: 30px;
    margin-top: 20px;
}

.logoblocks {
    width: 70%;
    margin-top: 20px;
}

.imgs5 img {
    margin-top: 20px;
    margin-left: 2px;
}

.imgs2 {
    margin-left: 10px;
}

.imgs2 img {
    float: left;
    margin-top: 20px;
    margin-left: 10px;
}

.headofmain {
    width: 90%;
    margin: auto auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headofmain img {
    height: 50%;
}

#choco {
    width: 90%;
    display: block;
    margin: 0px auto;
}

#par {
    width: 90%;
    margin: 30px auto;
    font-size: 150%;
}

#list-bg {
    width: 90%;
    margin: 50px auto;
    display: block;
}

.ulists {
    display: flex;
    justify-content: space-evenly;
    font-size: 250%;
    position: relative;
}

.ulists img {
    width: 90%;
    margin: 50px auto;
    display: block;
    position: relative;
}

.Flist {
    width: 90%;
    margin: 100px 60px;
    display: block;
    position: absolute;
    right: auto;
}

.Slist {
    position: absolute;
    left: 40%;
    width: 90%;
    margin: 100px auto;
    display: block;
}

.mainFooter {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.mainFooterp {
    font-size: 20pt;
}

.mainFooterp h1 {
    font-weight: 800;
    font-size: 25pt;
    margin-bottom: 10px;
}

footer {
    width: 90%;
    text-align: center;
    padding: 50px;
}

footer img {
    margin-top: 50px;
    height: 50px;
    margin-bottom: 20px;
}

footer p {
    font-size: 15pt;
}